[Unit]
Description=Catch missed Discord Bot deployments at boot and daily

[Timer]
OnBootSec=5min
OnCalendar=*-*-* 05:00:00
Persistent=true
AccuracySec=1s
Unit=discord-bot-update.service

[Install]
WantedBy=timers.target
